*
  margin: 0
  padding: 0
  border: none
  outline: none
  box-sizing: border-box
  user-select: none
  -webkit-tap-highlight-color: transparent !important

body
  font-family: 'Quicksand', sans-serif

input, button
  font-family: inherit

button
  cursor: pointer
  user-select: none